# This file lists the dependencies for the project.
panel==1.7.1
watchfiles==1.0.5
Pygments==2.19.1
xarray==2025.6.1
numpy>=1.22.0
matplotlib>=3.5.0
numba>=0.58.0
scipy>=1.10.0
plotly==5.19
pyinstaller>=6.6.0
lmfit>=1.1.0

# clustering / manifold
# scikit-learn>=1.2.0
# umap-learn>=0.5.4
# hdbscan>=0.8.30