:host {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;

    & hr {
        border: none;
        border-top: 1px solid var(--ui-accent-light);
        width: 100%;
    }
}

@media (width <= 1024px) {
    :host {
        margin: 1.25rem 0;
    }
}