:host {
    position: fixed;
    bottom: var(--content-padding);
    right: var(--content-padding);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 99;

    & .chat {
        margin-bottom: 1rem;
        height: 500px;
        width: 312.5px;

        min-height: 500px;
        min-width: 312.5px;

        border-radius: 7px;

        overflow: clip;
        display: flex;
        box-shadow: 0 2px 10px #f0f0f1;

        position: relative;

        & .carrousel {
            display: flex;
        }
    }

    & > button {
        background-color: white;
        color: var(--ui-accent-light);
        border: none;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 2px 10px #f0f0f1;
        font-size: 1.5rem;

        &:hover {
            color: var(--ui-brand-secondary);
        }
    }

    & .activate {
        color: var(--ui-brand-secondary);
    }
}

@media (width <= 1024px) {
    :host {
        right: .85rem;
        bottom: .85rem;
    }
}