#main, #main .card-margin {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 !important;
}

.main .card-margin {
    height: 100% !important;

    display: grid;
    place-content: center;
}

#main > div > fast-card.pn-wrapper {
    display: grid;
    place-items: center;
}