.bk-body {
    --switch-width: 50px;
    --bar-height: 25px;
    --switch-size: 25px;
}

.bk-bar {
    transition-property: background-color;
}

.bk-knob {
    border-radius: 100%;
    transition-property: left, background-color;
}

.bk-bar, .bk-knob {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.pre-normalization-switch {
    display: grid;
    place-content: center;
}