.bk-body {
    --switch-width: 50px;
    --bar-height: 25px;
    --switch-size: 25px;
}

.bk-bar {
    transition-property: background-color;
}

.bk-knob {
    border-radius: 100%;
    transition-property: left, background-color;
}

.bk-bar, .bk-knob {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#right-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;

    box-sizing: border-box;

    & > .nav.flex-column {
        height: 100%;
    }
}

.clustering-tabs {
    flex: 1;
}

.kmeans-tab, .agglomerative-tab, .spectral-tab {
    height: 100%;
}

.kmeans-input-container, 
.agglomerative-input-container, 
.spectral-input-container {
    flex: 1;
    overflow-y: auto;
    padding: 0.5rem 0;
}

.background-subtraction-switch {
    display: grid;
    place-content: center;
}

.background-subtraction-container {
    max-height: 65px;
}