.bk-body {
    --switch-width: 50px;
    --bar-height: 25px;
    --switch-size: 25px;
}

.bk-bar {
    transition-property: background-color;
}

.bk-knob {
    border-radius: 100%;
    transition-property: left, background-color;
}

.bk-bar, .bk-knob {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.umap-embedding-placeholder {
    background-color: #fafafa;
    box-shadow: 0px 0px 5px #d8d8d8;
    opacity: 0;
    overflow: hidden;
    aspect-ratio: 1;
    box-sizing: border-box;
}

.umap-embedding-placeholder.animated-in {
    animation: dataset-info-bounce-fadein 0.6s cubic-bezier(.68,-0.55,.27,1.55) 0s forwards;
}

@keyframes dataset-info-bounce-fadein {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    60% {
        opacity: 1;
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.98);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.umap-embedding-placeholder.animated-out {
    animation: umap-placeholder-discard 0.5s forwards;
}

@keyframes umap-placeholder-discard {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    80% {
        opacity: 0.2;
        transform: scale(0.85) translateY(-10px);
    }
    100% {
        opacity: 0;
        transform: scale(0.7) translateY(-30px);
    }
}

.background-subtraction-switch {
    display: grid;
    place-content: center;
}

.background-subtraction-container {
    max-height: 65px;
}

.tooltip-icon {
    margin: 0;
}