:root {
    --header-background: #4d4dc9;
    --header-background-hover: #3b3bb8;
}

#header .app-header a.title {
    display: none; /* Hide the default title */
}

#header-items {
    justify-content: end; /* Align items to the right */

    & div.bk-Row {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 1rem; /* Space between items */
        margin-right: 1rem; /* Space from the right edge */
    }
}

.custom-nav-link.markdown {
    margin: 0 !important;
    padding: 0 !important;
}

.disable-link {
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
}

.enable-link {
    position: relative;
    text-decoration: underline;
    color: white;
}

.enable-link-animation {
    animation: enableLinkUnderline 0.5s cubic-bezier(0.4,0,0.2,1) forwards;
}

@keyframes enableLinkUnderline {
    0% {
        opacity: 0.5;
        text-decoration: none;
        text-underline-offset: 1em;
    }
    100% {
        opacity: 1;
        text-underline-offset: 0.1em;
    }
}