:root {
    --inner-panel-padding: 10px;
}

#input {
    margin:0px;
    position: relative;
}

#input:has(ul:not(:empty))::before {
    content: 'Reading File';

    font-weight: normal;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    background-color: var(--panel-surface-color, #f1f1f1);
    width: 100%;
    height: 101%;
    
    display: flex;
    align-items: center;

    padding-left: 27%;
}

#input:has(ul:not(:empty)):after {
    content: '';
    position: absolute;
    top: 50%;
    right: 22%;
    width: 28px;
    height: 28px;
    transform: translate(-50%, -50%);
    z-index: 99;
    border: 4px solid #ccc;
    border-top: 4px solid #4e4ece;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.filepond--drop-label {
    height: 100%;
}

.file-uploader-container {
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    height: 67px;
    box-shadow: 0px 0px 5px #d8d8d8;
}

.filedropper {
    margin: 0;
    height: inherit;
}

.filedropper-container ~ .success-panel,
.filedropper-container ~ .error-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--inner-panel-padding) * 2);
    height: calc(100% - var(--inner-panel-padding) * 2);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;

    z-index: 0;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    will-change: transform;

    margin: var(--inner-panel-padding);
    border-radius: 4px;
}

.filedropper-container ~ .success-panel {
    background-color: #38a170;
    transform: translateX(calc(100% + var(--inner-panel-padding) * 2));
    z-index: 2;
}

.filedropper-container ~ .error-panel {
    background-color: #e74c3c;
    transform: translateX(calc(-100% - var(--inner-panel-padding) * 2));
    z-index: 2;
}

.success-message, .error-message {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.success-message-text, .error-message-text {
    color: white;
    font-size: 12px;
    margin: 0;
    width: 85%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
}

:host(.solid) .bk-btn.bk-btn-default {
    color: transparent !important;
    background-color: #1b650c !important;
    transition: background-color 0.2s;
}

:host(.solid) .bk-btn.bk-btn-default:hover {
    background-color: white !important;
}

.remove-file-button {
    border-radius: 100%;
    overflow: hidden;
    width: 20px;
    height: 20px;
    min-height: 20px;
    display: grid;
    place-content: center;
    position: absolute;
    right: -0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    transition: background 0.2s;
}

.remove-file-button:hover {
    cursor: pointer;
}

.remove-file-button::before,
.remove-file-button::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: background 0.2s, transform 0.2s;
    pointer-events: none;
}
.remove-file-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.remove-file-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.remove-file-button:hover::before,
.remove-file-button:hover::after {
    background: #222;
}

/* .remove-file-button::before,
.remove-file-button::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 2.5px;
    background: #222;
    border-radius: 2px;
    transition: background 0.2s;
} */


@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}