#main, #main .card-margin {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 !important;
}

.main .card-margin.stretch_height {
    height: 100% !important;
}

#main > div > fast-card.pn-wrapper {
    display: grid;
    place-items: center;
}

/* #main > div > fast-card.pn-wrapper > div.bk-panel-models-layout-Column {
    height: auto !important;
    min-height: auto !important;
} */