.split {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    & .gutter:hover {
        background-color: var(--secondary-whateels-background);
    }
}

#left_column, #right_column {
    height: 100%;
    min-width: 0;
    min-height: 0;
    overflow: auto;
    box-sizing: border-box;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
